.SiblingsRibbon {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75%;
  padding: 0;
}

.SiblingsRibbon button {
  height: 100%;
  width: 3%;
}

.SiblingsRibbon ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
  width: 94%;
  margin: 0;
}

.SiblingsRibbon li {
  height: 100%;
  cursor: pointer;
}

.SiblingsRibbon li.focused {
  cursor: default;
  border: 2px solid orange;
}

.SiblingsRibbon li img {
  max-width: 100%;
}