* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

main {
  height: 69vh;
  background-color: black;
}

footer {
  height: 28vh;
  background-color: brown;
}

.FullScreenDiv {
  background-color: black;
  height: 97vh;
}

.FullScreenSlide {
  cursor: pointer;
}